html, body {
}

#main { 
  height: 100%; 
  width: 100%; 
  min-height: 400px;
}

.timeline-div {
  height: 300px;
}

.timeline-left {
  width: 110px !important;
}
.timeline-right {
  width: 10000px !important;
}

