html, body {
}

#main { 
  height: 100%; 
  width: 100%; 
  min-height: 400px;
}

.timeline-div {
  height: 300px;
}

.timeline-left {
  width: 110px !important;
}
.timeline-right {
  width: 10000px !important;
}

.enable-scroll {
  overflow: hidden;
}

.disable-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.layer-div {
  background-image: -moz-linear-gradient(top,  #2A2A2A, #1C1C1C);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#999));
  height: 36px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

#layers-div {
  height: 100%;
  width: 100%;
}

.butter-track-event.footnote {
  background-color: #8dd75a;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(71,128,30)),
		color-stop(1, rgb(140,215,90))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(71,128,30) 0%,
		rgb(140,215,90) 100%
	);}

.popup-5 {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url("../images/timeline-bg.jpg");
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  top: 100px;
}

.edit-track-button {
  background-image: -moz-linear-gradient(top,  #EEEEEE, #999999);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#999));
  height: 25px;
  min-width: 108px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 5px;
}

#track-edit-JSON {
  resize: both;
  margin: 5px;
}
