html, body {
}

#main { 
  height: 100%; 
  width: 100%; 
  min-height: 400px;
}

.timeline-div {
  height: 300px;
}

.timeline-left {
  width: 110px !important;
}
.timeline-right {
  width: 10000px !important;
}

.enable-scroll {
  overflow: hidden;
}

.disable-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
