html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

#outer-div {
  width: 99%;
  height: 99%;
  margin: auto;
  border: 2px solid #000;
}

#top-div {
  height: 50%;
  width: 100%;
}

#previewer-iframe {
  border: none;
  height: 100%;
  width: 100%;
}

#bottom-div {
  height: 50%;
  width: 100%;
}

#butter-plug-in-div {
  width: 10%;
  height: 100%;
  float: left;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

#butter-timeline-div {
  width: 90%;
  height: 100%;
  overflow: hidden;
  border-top: 2px solid #000;
}

#overlay-div {
  background: none repeat scroll 0 0 rgba( 35, 45, 63, 0.7);
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 1000;
}

.editor-dialogue {
  background: none repeat scroll 0 0 rgba( 255, 255, 255, 1 );
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  background-color: solid
  border-radius: 3px 3px 3px 3px;
  padding: 0;
  border: 1px solid #DDDDDD;
  position: absolute;
  width: 400px;
  height: auto;
  margin-top: 5%;
  margin-left: 25%;
  opacity: 1;
}

