	/*--- Reset ---*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {  margin:0; padding:0; border:none; outline:none; font-size:100%; vertical-align:baseline; background:transparent;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;}
nav ul { list-style:none;}
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration:none; outline:none; }
table { border-collapse:collapse; border-spacing:0;}
input, select { vertical-align:middle; }
select, input, textarea, button { font:99% sans-serif;}
pre, code, kbd, samp { font-family: monospace, sans-serif;}
body, select, input, textarea { color: #444; font-family: DroidSansRegular, serif;}
h1,h2,h3,h4,h5,h6 { font-weight: normal; font-family: DroidSansBold, Arial, Helvetica, sans-serif; }
a:hover, a:active { outline: none; color: #fff;}
a, a:active, a:visited { color: #999999; }
ul, ol {list-style:none; list-style-type: none;}
strong, th { font-weight: bold; }
td, td img { vertical-align: top; border: none;} 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller;}
pre {padding: 15px; 
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */}
textarea { overflow: auto; resize:none;}
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
input[type=button], input[type=submit], button { cursor: pointer; border:none; outline:none;}
input[type="text"]:focus {outline: none;}
label{cursor:text;}
button, input, select, textarea { margin: 0; }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;}
::-moz-selection{ background: #9c3b00; color:#fff; text-shadow: none; }
::selection { background:#9c3b00; color:#fff; text-shadow: none; } 
button {width: auto; overflow: visible;}

/*---- @font-face -----*/
@font-face {
    font-family: 'DroidSansRegular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-webfont.woff') format('woff'),
         url('DroidSans-webfont.ttf') format('truetype'),
         url('DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DroidSansBold';
    src: url('DroidSans-Bold-webfont.eot');
    src: url('DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-Bold-webfont.woff') format('woff'),
         url('DroidSans-Bold-webfont.ttf') format('truetype'),
         url('DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;}

/*------ Header -----*/
body { background:url(../images/body-bg.jpg) repeat; font:13px/1.231 sans-serif; *font-size:small; }
header { height:44px;
	padding: 0 20px;
	   -moz-box-shadow: 0 1px 0 #aaa;
	-webkit-box-shadow: 0 1px 0 #aaa;
	     -o-box-shadow: 0 1px 0 #aaa;
	        box-shadow: 0 1px 0 #aaa;

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(32,32,32)),
		color-stop(1, rgb(74,74,74))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(32,32,32) 0%,
		rgb(74,74,74) 100%
	);}
.logo { float:left; font: normal 24px/44px DroidSansBold,Helvetica, Arial, sans-serif; letter-spacing: -1px;}
.logo a {color:#ccc;}
.logo-popcorn-maker { margin:4px 10px 0 0;}
.logo a:hover { color:#fff;}
.header-right { float:right; padding-top:9px;}
.my-projects-drpdwn { width:212px; margin-right:14px; float: left; position:relative}
.my-projects-drpdwn .actions { opacity:1; width:14px; height:14px; top:1px; right:0;}
.header-right form { float:left}
.projects-dd { width:177px !important}
.header-buttons { float:left;}
.header-buttons li, .popup-close-btn, .help-close-btn { float:left; margin-right:10px; width:24px; height:24px; border: 1px solid #282828 !important;
	   -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	     -o-border-radius: 3px;
	        border-radius: 3px;}
.header-buttons li.add-btn, div.add-btn {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(74,107,45)),
		color-stop(1, rgb(128,186,78))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(74,107,45) 0%,
		rgb(128,186,78) 100%
	);
	   -moz-box-shadow: 0 1px 0 #3d3d3d, inset 0 1px 0 #86bf56;
	-webkit-box-shadow: 0 1px 0 #3d3d3d, inset 0 1px 0 #86bf56;
	     -o-box-shadow: 0 1px 0 #3d3d3d, inset 0 1px 0 #86bf56;
	        box-shadow: 0 1px 0 #3d3d3d, inset 0 1px 0 #86bf56;}
.header-buttons li.add-btn:hover, div.add-btn:hover {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(85,126,52)),
		color-stop(1, rgb(148,219,90))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(85,126,52) 0%,
		rgb(148,219,90) 100%
	);}
.header-buttons li.add-btn:active, .header-buttons li.add-btn:focus, div.add-btn:active. div.add-btn:focus {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(128,186,78)),
		color-stop(1, rgb(74,107,45))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(128,186,78) 0%,
		rgb(74,107,45) 100%
	);	
	   -moz-box-shadow: 0 1px 0 #3d3d3d, inset 0 1px 0 #628445;
	-webkit-box-shadow: 0 1px 0 #3d3d3d, inset 0 1px 0 #628445;
	     -o-box-shadow: 0 1px 0 #3d3d3d, inset 0 1px 0 #628445;
	        box-shadow: 0 1px 0 #3d3d3d, inset 0 1px 0 #628445;}
.header-buttons li input, .wizard-add-project-btn { display:block; height:100%; width:100%; background:url(../images/top-btns.png) no-repeat;}
.header-buttons li.add-btn input, .wizard-add-project-btn { background-position: 5px 6px;}
.header-buttons li.add-btn input:hover, .wizard-add-project-btn:hover { background-position: 5px 6px;}
.header-buttons li.add-btn input:active, .header-buttons li.add-btn input:focus, .wizard-add-project-btn:active, .wizard-add-project-btn:focus { background-position: -174px 6px;}
.header-buttons li.save-btn input { background-position: -30px 6px;}
.header-buttons li.save-btn input:hover { background-position: -103px 6px;}
.header-buttons li.save-btn input:active, .header-buttons li.save-btn input:focus { background-position: -209px 6px;}
.header-buttons li.help-btn a { background:url(../images/top-btns.png) no-repeat; height:100%; background-position: -66px 6px;}
.header-buttons li.help-btn a:hover { background-position: -139px 6px;}
.header-buttons li.help-btn a:active, .header-buttons li.help-btn input:focus { background-position: -245px 6px;}

/*------- content area -------*/
#main { height:400px;}

/*------- Timeline ------- */
.timeline{padding:0 160px 0 20px;}
#properties-panel { background:url(../images/timeline-bg.jpg) repeat; float:left; height:270px; position:absolute; bottom:0; width:100%; overflow:hidden}
#properties-panel .properties-header { padding:0 20px; height:36px; border:1px solid #353535; border-bottom-color:#030303; margin-bottom:5px; border-right:0; border-left:0;}
.timeline-heading { float:left; position:relative; padding: 5px 35px 5px 10px; background: #000;margin: 5px 0;}
.playback-controls { height:58px; width:100%; position: relative;}
.playback-controls .play-btn, .playback-controls .sound-btn { padding:3px;}
.playback-controls .play-btn a, .playback-controls .sound-btn a { display:block; height:100%; width:17px; height:17px;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(171,152,74)),
		color-stop(1, rgb(209,190,112))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(171,152,74) 0%,
		rgb(209,190,112) 100%
	);
	   -moz-box-shadow: 0 1px 0 #1b1913, inset 0 1px 0 #e0d39b;
	-webkit-box-shadow: 0 1px 0 #1b1913, inset 0 1px 0 #e0d39b;
	     -o-box-shadow: 0 1px 0 #1b1913, inset 0 1px 0 #e0d39b;
	        box-shadow: 0 1px 0 #1b1913, inset 0 1px 0 #e0d39b;}
.playback-controls .play-btn a { width:24px; height:24px;}
.playback-controls .play-btn a:hover {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(189,170,92)),
		color-stop(1, rgb(224,210,153))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(189,170,92) 0%,
		rgb(224,210,153) 100%
	);}
.playback-controls .play-btn a:active, .playback-controls .play-btn a:focus {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(209,190,112)),
		color-stop(1, rgb(171,152,74))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(209,190,112) 0%,
		rgb(171,152,74) 100%
	);}
.playback-controls .play-btn a span, .playback-controls .sound-btn a span{ background:url(../images/playbtn-arrow.png) 0 0 no-repeat; display:block; height:100%;}
.playback-controls .sound-btn a span { background:url(../images/sound_btn.png) 0 0 no-repeat;}
.playback-controls .sound-btn a {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(119,119,119)),
		color-stop(1, rgb(180,180,180))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(119,119,119) 0%,
		rgb(180,180,180) 100%
	);}
.playback-controls .sound-btn a:hover {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(149,149,149)),
		color-stop(1, rgb(204,204,204))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(149,149,149) 0%,
		rgb(204,204,204) 100%
	);}
.playback-controls .sound-btn a:active, .playback-controls .sound-btn a:focus {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(180,180,180)),
		color-stop(1, rgb(119,119,119))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(180,180,180) 0%,
		rgb(119,119,119) 100%
	);}
.playback-controls .timeline-duration { z-index: 1; height:20px; width:80px; margin:0 auto;  left:16px; position: absolute; padding: 0 2px 0 10px;} 
.playback-controls .timeline-bar { height:8px; background:url(../images/texture_2.png) repeat;
padding: 0 2px;
	   -moz-box-shadow: 0 1px 0 #737373, inset 0 1px 1px #131313;
	-webkit-box-shadow: 0 1px 0 #737373, inset 0 1px 1px #131313;
	     -o-box-shadow: 0 1px 0 #737373, inset 0 1px 1px #131313;
	        box-shadow: 0 1px 0 #737373, inset 0 1px 1px #131313;}
.play-btn { position: absolute; left: 0; z-index: 999;}
.timeline-progress-wrapper {padding:7px 30px 0 120px;}
.timing-notches-div { padding:0px 0px 0px 0px; height:27px;}
.timeline-sound-td { position: absolute; top:0; right:0;}
.timing-notches { width:100%; background:url(../images/timing-notches.png) repeat-x; height:15px}

/*------- scrollbar -------*/
.enable-scroll { min-height:128px; border:1px solid #2b2b2b; padding: 8px 30px 8px 8px; position:relative;
	   -moz-box-shadow: inset 0 0 6px #131313;
	-webkit-box-shadow: inset 0 0 6px #131313;
	     -o-box-shadow: inset 0 0 6px #131313;
	        box-shadow: inset 0 0 6px #131313;}
.enable-scroll .viewport { height: 127px; overflow: hidden; position: relative;}
.enable-scroll .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0;}
.enable-scroll .scrollbar{ position: absolute; width: 7px; right:10px;}
.enable-scroll .track { background:url(../images/texture_2.png) repeat; height:128px !important; width:6px; position: relative; top:0; padding:2px 0; top:-2px;
	   -moz-box-shadow: 0 1px 0 #737373, inset 0 1px 3px #131313;
	-webkit-box-shadow: 0 1px 0 #737373, inset 0 1px 3px #131313;
	     -o-box-shadow: 0 1px 0 #737373, inset 0 1px 3px #131313;
	        box-shadow: 0 1px 0 #737373, inset 0 1px 3px #131313; }
.enable-scroll .thumb { height: 20px; width: 2px; cursor: pointer; position: absolute; top: 0; left: 2px; background-color:#999; margin: 3px 0;}
.enable-scroll .thumb .end { background: #ccc; overflow: hidden; height: 4px; width: 4px; position:absolute; left:-1px; top:50%; margin-top:-2px; }
.enable-scroll .disable { display: none;}
.enable-scroll.toolbox {position: absolute;
    right: 20px; width:120px; height:175px; border:1px solid #333; padding:0; top:67px;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(110,110,110)),
		color-stop(1, rgb(125,125,125))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(110,110,110) 0%,
		rgb(125,125,125) 100%
	);
	   -moz-box-shadow: 0 1px 0 #656565;
	-webkit-box-shadow: 0 1px 0 #656565;
	     -o-box-shadow: 0 1px 0 #656565;
	        box-shadow: 0 1px 0 #656565;}
.enable-scroll.toolbox .scrollbar { right:3px; top:37px;}
.enable-scroll.toolbox .viewport { width:auto; margin:38px 15px 0 4px; height:127px;}

/*------ Layer -----*/
.layer { height:27px; background:url(../images/texture_1.png) repeat; margin-bottom:6px; padding-left: 112px; position: relative;}
.overview .layer:last-child{margin-bottom: 0;}
.layer-btn { width:108px; height:25px; margin-bottom: 6px; text-align: center; font:10px/25px Arial,Helvetica,sans-serif; color: #666666; text-transform: uppercase;
border:1px solid #111111 !important;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(28,28,28)),
		color-stop(1, rgb(42,42,42))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(28,28,28) 0%,
		rgb(42,42,42) 100%
	);
	   -moz-box-shadow: 0 1px 0 #737373, inset 0 1px 0 #414141;
	-webkit-box-shadow: 0 1px 0 #737373, inset 0 1px 0 #414141;
	     -o-box-shadow: 0 1px 0 #737373, inset 0 1px 0 #414141;
	        box-shadow: 0 1px 0 #737373, inset 0 1px 0 #414141;}
.layer-btn:hover{ 
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(55,55,55)),
		color-stop(1, rgb(64,64,64))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(55,55,55) 0%,
		rgb(64,64,64) 100%
	);
	   -moz-box-shadow: 0 1px 0 #737373, inset 0 1px 0 #545454;
	-webkit-box-shadow: 0 1px 0 #737373, inset 0 1px 0 #545454;
	     -o-box-shadow: 0 1px 0 #737373, inset 0 1px 0 #545454;
	        box-shadow: 0 1px 0 #737373, inset 0 1px 0 #545454;}
.change-url-btn:hover, .change-title-btn:hover, .confirm-load-btn:hover { color:#fff;}
.layer-btn:active, .layer-btn:focus {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(42,42,42)),
		color-stop(0, rgb(28,28,28))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(42,42,42) 100%,
		rgb(28,28,28) 0%
	);
	   -moz-box-shadow: 0 1px 0 #737373, inset 0 1px 0 #1d1d1d;
	-webkit-box-shadow: 0 1px 0 #737373, inset 0 1px 0 #1d1d1d;
	     -o-box-shadow: 0 1px 0 #737373, inset 0 1px 0 #1d1d1d;
	        box-shadow: 0 1px 0 #737373, inset 0 1px 0 #1d1d1d;}

/*--------- Layer Tooltip ----------*/
.layer-btn ul.actions{ top: 0;}
.layer-btn:hover ul.actions { right: -35px;opacity:1;
  z-index: 10000;			
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 1s ease;
	transition: all 0.5s ease;}
ul.actions, .ttip {margin: 0; position:absolute; background-color: #000; padding:6px;top:5px; opacity:0;  width:auto; right:-80px; display:block;}
ul.actions li { float:left; width:14px; height:14px; overflow:hidden}
ul.actions li a { background:url(../images/edit-delet-btns.png) 0 0 no-repeat;}
ul.actions li a:hover { background-position:0 -15px;}
ul.actions li.delete a{ background-position: -15px 0;}
ul.actions li.delete a:hover { background-position: -15px -15px}
ul.actions li.bubble_pointer { position:absolute; display:block; top:9px; width:6px; background:#000; width:6px; height:6px; right:auto; left:-3px; top:10px;}
.timeline-heading .actions{ opacity:1; right:2px; top:0;}
.project-name{ margin-left: 5px; background:#000 url(../images/project-ico.png) no-repeat 95% center;}
.layer-drop-area { width:100%; height:26px; overflow:hidden; padding-top:1px; position:relative;}
.collapse-btn, .hide-timeline { width:98%; height:18px; background-color:#2e2e2e; border:1px solid #111111; text-align:center; line-height:18px; font-size:10px; color:#999; position:absolute; top:0; left:0; cursor:default;
	   -moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	     -o-border-radius: 6px 6px 0 0;
	        border-radius: 6px 6px 0 0;
	   -moz-box-shadow: inset 0 1px 0 #414141;
	-webkit-box-shadow: inset 0 1px 0 #414141;
	     -o-box-shadow: inset 0 1px 0 #414141;
	        box-shadow: inset 0 1px 0 #414141;}
			
/*------ Hide Timeline & Collapse Buttons -----*/
.hide-timeline { width:46px; height:20px; line-height: 22px; display:block; position:absolute; right:20px; bottom:268px; left:auto; top:auto; z-index: 99999; border-bottom: 2px solid #4C4C4C; background: #4C4C4C;
	   -moz-border-radius: 15px 15px 0 0;
	-webkit-border-radius: 15px 15px 0 0;
	     -o-border-radius: 15px 15px 0 0;
	        border-radius: 15px 15px 0 0;}
.hide-timeline a { display:block; background:url(../images/hide-timeline-arrows.png) 20px 7px no-repeat; height:100%; text-align: left; width:46px; text-indent: -9999px;}
.collapse-btn span { display:block; width:6px; height:6px; background-color:#2e2e2e;border:1px solid #111111; position:absolute; bottom:-4px; left:50%; margin-left:-5px; border-left:0; border-top:0; display:none;}
.collapse-btn a { background: url(../images/colllapse-arrow.png) 6px -9px no-repeat; padding-left: 20px; display:block; height:100%; text-align: left;}

/*-------- Tools ---------*/
.tools li { height:28px; cursor:move;}
.tools li a { height:100%; display:block; position: relative; padding-left:30px; color:#333; font: bold 12px/26px Arial, Helvetica, sans-serif; cursor:move;
	   -moz-text-shadow: 0 1px 0 #8c8c8c;
	-webkit-text-shadow: 0 1px 0 #8c8c8c;
	     -o-text-shadow: 0 1px 0 #8c8c8c;
	        text-shadow: 0 1px 0 #8c8c8c;}
.tools li a span {background:url(../images/tools.png) no-repeat; display:block; position:absolute; left:0; top:0; height:28px; width:28px;}
.tools li.text_tool a span{ background-position: 0 0;}
.tools li.text_tool a:hover span{ background-position: 0 -32px;}
.tools li.text_tool a:active span, .tools li.text_tool a:focus span{ background-position: 0 -64px;}
.tools li.image_tool a span{ background-position: -37px 0}
.tools li.image_tool a:hover span{ background-position: -37px -32px}
.tools li.image_tool a:active span, .tools li.image_tool a:focus span{ background-position: -37px -64px}
.tools li.flickr_tool a span{ background-position: -74px 0}
.tools li.flickr_tool a:hover span{ background-position: -74px -32px}
.tools li.flickr_tool a:active span, .tools li.flickr_tool a:focus span{ background-position: -74px -64px}
.tools li.wiki_tool a span{ background-position: -111px 0}
.tools li.wiki_tool a:hover span{ background-position: -111px -32px}
.tools li.wiki_tool a:active span, .tools li.wiki_tool a:focus span{ background-position: -111px -64px}
.tools li.map_tool a span{ background-position: -148px 0}
.tools li.map_tool a:hover span{ background-position: -148px -32px}
.tools li.map_tool a:active span, .tools li.map_tool a:focus span{ background-position: -148px -64px}
.tools li.media_tool a span{ background-position: -185px 0}
.tools li.media_tool a:hover span{ background-position: -185px -32px}
.tools li.media_tool a:active span, .tools li.media_tool a:focus span{ background-position: -185px -64px}
.tools li.facebook_tool a span{ background-position: -220px 0}
.tools li.facebook_tool a:hover span{ background-position: -220px -32px}
.tools li.facebook_tool a:active span, .tools li.facebook_tool a:focus span{ background-position: -220px -64px}

/*---------- Timeline Progress bar ------------*/
.timeline-progress-bar { height:4px; width: 0px; position:relative; background-color:#999; top:2px;}
.timeline-progress-bar .current-line, .timeline-progress-bar .current-white { position:absolute; z-index:99999;}
.timeline-progress-bar .current-line { background-color:#ff0000; width:2px; height:146px; right:-1px;
	   -moz-box-shadow: -3px 3px 5px #222;
	-webkit-box-shadow: -3px 3px 5px #222;
	     -o-box-shadow: -3px 3px 5px #222;
	        box-shadow: -3px 3px 5px #222;}
.timeline-progress-bar .current-white {background-color:#fff; width:8px; height:8px; right:-6px; top:-5px; border: 2px solid #CCC;}

/*---------- track event------*/
.track-event {display: block; height: 25px; line-height: 25px; text-align: center; cursor:move;	position:absolute; font:normal 10px/25px Arial, Helvetica, sans-serif;text-transform:uppercase; color:#333; opacity:0.8;
	   -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	     -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
}
.track-event:hover{ opacity:1;}
.track-event.text{ background-color: #abdff9;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(110,175,207)),
		color-stop(1, rgb(174,226,252))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(110,175,207) 0%,
		rgb(174,226,252) 100%
	);}
.track-event.images{background-color: #8dd75a;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(71,128,30)),
		color-stop(1, rgb(140,215,90))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(71,128,30) 0%,
		rgb(140,215,90) 100%
	);}
.track-event.flickr{background-color: #ee48cb;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(184,6,148)),
		color-stop(1, rgb(252,124,224))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(184,6,148) 0%,
		rgb(252,124,224) 100%
	);}
.track-event.wikipedia{background-color: #d4d4d4;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(201,201,201)),
		color-stop(1, rgb(251,251,251))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(201,201,201) 0%,
		rgb(251,251,251) 100%
	);}
.track-event.maps{background-color: #ffffd3;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(235,235,89)),
		color-stop(1, rgb(255,255,212))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(235,235,89) 0%,
		rgb(255,255,212) 100%
	);}
.track-event.media{background-color: #42c8d3;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(25,118,125)),
		color-stop(1, rgb(67,200,212))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(25,118,125) 0%,
		rgb(67,200,212) 100%
	);}
	
.track-event.facebook{background-color: #5692cf;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(46,86,125)),
		color-stop(1, rgb(120,175,235))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(46,86,125) 0%,
		rgb(120,175,235) 100%
	);}
	
/*-------dropdown -----*/
.dd {text-align:left; font-size:12px; float:left; height:25px; width:177px !important; background-color:#666;	
	   -moz-box-shadow: 0 1px 0 #3a3a3a, inset 0 1px 0 #494949;
	-webkit-box-shadow: 0 1px 0 #3a3a3a, inset 0 1px 0 #494949;
	     -o-box-shadow: 0 1px 0 #3a3a3a, inset 0 1px 0 #494949;
	        box-shadow: 0 1px 0 #3a3a3a, inset 0 1px 0 #494949;}
.dd .ddTitle span.arrow {cursor:pointer; float:right; margin:1px 0 0; width:24px; height:24px; background:url(../images/dropdownarrow.png) center center no-repeat  !important;}
.dd .ddTitle span.arrow:hover  { background-position: center !important}
.dd .ddTitle span.arrow:active, .dd .ddTitle span.arrow:focus { background:url(../images/dropdownarrow-active.png) center center no-repeat !important}
.dd .ddTitle span.ddTitleText {text-indent:1px; overflow:hidden; line-height:24px; color:#fff; padding-left:4px;
	   -moz-text-shadow: 0 1px 0 #111;
	-webkit-text-shadow: 0 1px 0 #111;
	     -o-text-shadow: 0 1px 0 #111;
	        text-shadow: 0 1px 0 #111;}
.dd .ddTitle span.ddTitleText img{text-align:left; padding:0 2px 0 0}
.dd .ddTitle img.selected {	padding:0 3px 0 0; vertical-align:top;}
.dd .ddChild {position:absolute; border:1px solid #c3c3c3; border-top:none;	display:none; margin:0;	width:auto !important; overflow:auto; overflow-x:hidden !important;
background-color:#ffffff; min-width:175px;	
	   -moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
	     -o-border-radius: 0 0 8px 8px;
	        border-radius: 0 0 8px 8px;
			
	   -moz-box-shadow: 2px 2px 5px #333;
	-webkit-box-shadow: 2px 2px 5px #333;
	     -o-box-shadow: 2px 2px 5px #333;
	        box-shadow: 2px 2px 5px #333;}
.dd .ddChild .opta a, .dd .ddChild .opta a:visited {padding-left:10px}
.dd .ddChild a {display:block;	text-decoration:none; color:#666; overflow:hidden; cursor:pointer; height:38px; line-height:38px; padding: 0 14px; border-bottom:1px solid #bbb;
border-top: 1px solid #fff;	background-color:#eee;}
.dd .ddChild a, .popup-content p {
	   -moz-text-shadow: 0 1px 0 #fff;
	-webkit-text-shadow: 0 1px 0 #fff;
	     -o-text-shadow: 0 1px 0 #fff;
	        text-shadow: 0 1px 0 #fff;}
.dd .ddChild a:last-child { border-bottom:0}
.dd .ddChild a:hover {background:#e2e2e2;}
.dd .ddChild a:active, .dd .ddChild a:focus {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(238,238,238)),
		color-stop(1, rgb(204,204,204))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(238,238,238) 0%,
		rgb(204,204,204) 100%
	);}
.dd .ddChild a img {border:0; padding:0 2px 0 0; vertical-align:middle;}
.dd .ddChild a.selected {background:#ffffcc; color:#666; -moz-text-shadow: none; -webkit-text-shadow: none; -o-text-shadow: none; text-shadow: none;}
.hidden {display:none;}
.dd .borderTop{border-top:1px solid #c3c3c3 !important;}
.dd .noBorderTop{border-top:none 0  !important}

/*-----Popup-----*/
.popupDiv { position:absolute; z-index:9999999; display:none; top:0; left:0; pointerEvents: none}
.balck-overlay {background-color:#000; height:100%; width:100%; opacity:0.7; top:0; left:0}
.popup-container { width:auto; height:auto; position:absolute; z-index:999; top:50px;}
.popup-close-btn, .help-close-btn { position: absolute; z-index:99999; top:7px; right:7px; width:30px; height:24px; margin-right:1px;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(116,35,35)),
		color-stop(1, rgb(202,61,61))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(116,35,35) 0%,
		rgb(202,61,61) 100%
	);}
.popup-3 .popup-close-btn {height:30px; top:15px;right:10px;}
.popup-close-btn:hover, .help-close-btn:hover {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(135,16,16)),
		color-stop(1, rgb(235,31,28))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(135,16,16) 0%,
		rgb(235,31,28) 100%
	);	
	   -moz-box-shadow: 0 1px 0 #3d3d3d, inset 0 1px 0 #f55e5e;
	-webkit-box-shadow: 0 1px 0 #3d3d3d, inset 0 1px 0 #f55e5e;
	     -o-box-shadow: 0 1px 0 #3d3d3d, inset 0 1px 0 #f55e5e;
	        box-shadow: 0 1px 0 #3d3d3d, inset 0 1px 0 #f55e5e;}
.popup-close-btn:active, .popup-close-btn:focus, .help-close-btn:hover, .help-close-btn:active {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(202,61,61)),
		color-stop(1, rgb(116,35,35))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(202,61,61) 0%,
		rgb(116,35,35) 100%
	);	
	   -moz-box-shadow: 0 1px 0 #3d3d3d, inset 0 1px 0 #451212;
	-webkit-box-shadow: 0 1px 0 #3d3d3d, inset 0 1px 0 #451212;
	     -o-box-shadow: 0 1px 0 #3d3d3d, inset 0 1px 0 #451212;
	        box-shadow: 0 1px 0 #3d3d3d, inset 0 1px 0 #451212;}
.popup-close-btn span, .help-close-btn span { display:block; background:url(../images/popup-close.png) center center no-repeat; height:100%}
.popup-header { width:100%; height:40px;
	   -moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	     -o-border-radius: 10px 10px 0 0;
	        border-radius: 10px 10px 0 0;}
.popup-header h3 { line-height: 40px; padding:0 40px; font-size:15px; color:#ccc; text-align:center; float:left; }
.popup-3 .popup-header h3 {font-size:22px;font-weight:normal; line-height: 55px;}
.popup-3 .popup-header { height:55px}
.popup-content p {  clear:both;}
.ckp .popup-content p span { color:#cd5d44; padding-right:14px; font-size:16px}
.pop-up { width:500px; height:auto; overflow:hidden}
.pop-up .popup-content { padding:40px; overflow:hidden; width:auto;
	   -moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	     -o-border-radius: 0 0 10px 10px;
	        border-radius: 0 0 10px 10px;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(238,238,238)),
		color-stop(1, rgb(255,255,255))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(238,238,238) 0%,
		rgb(255,255,255) 100%
	);}

.pop-up .popup-content form p { float:left; width:200px; position: relative; padding: 0 0 10px 0;}
.pop-up .popup-content form p label { position:absolute; left:10px; top:8px; color:#999;}
.pop-up .popup-content form p input { height:30px; border:1px solid #ccc; padding: 0 10px; line-height:30px;}
.change-url-btn { height:30px; width:100px;}
.popup-1 .popup-content input.change-url-btn { float:right;}
.popup-1 .popup-content p input { width:200px}

.tracks-drpdwn { position:absolute; z-index:999; left:150px; top:8px;}
.tracks-drpdwn .dd .ddChild { top: 28px !important;}
.tracks-drpdwn .dd .ddChild a { height:30px; line-height:30px}
.popup-content .track-content, .popup-content .project-json { padding:10px; border:1px solid #ccc; background-color:#FFF; overflow: auto; height: 150px}
.popup-content .project-json { width: 95% }
.popup-1, .popup-2, .popup-4, .popup-5{width:400px;
	   -moz-box-shadow: 2px 2px 5px #000;
	-webkit-box-shadow: 2px 2px 5px #000;
	     -o-box-shadow: 2px 2px 5px #000;
	        box-shadow: 2px 2px 5px #000;}
.popup-4 {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(238,238,238)),
    color-stop(1, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(238,238,238) 0%,
    rgb(255,255,255) 100%
  );
}
.popup-1 .popup-content, .popup-2 .popup-content, .popup-content { padding:20px;}
.popup-1 .popup-header h3, .popup-2 .popup-header h3, .popup-header h3, h3.welcome-header { padding: 0 20px}
.download-btn, .load-code-btn { position: absolute; right: 0; top: 25px; color:#999; font-weight:bold; margin:0; padding:7px 0; height:auto !important;}
.save-project-data-btn, .create-new-btn { position: absolute; left: 0; top: 57px; color:#999; font-weight:bold; margin:0; padding:7px 0; height:auto !important;}
.create-new-btn { left: 120px}
.save-project-data-btn { left: 125px !important }
.project-title-textbox { position: absolute; left: 30px; top: 50px; margin:0; padding:7px 0; height:auto; width: 130px !important}
.save-prj-lbl {position: absolute; left: 0; top: 50px; margin:0; padding:7px 0; height:auto !important}
.download-btn:hover, .load-code-btn:hover, .save-project-data-btn:hover, .create-new-btn:hover { color:#fff;}
.track-text {float: left; margin-top: 10px; width: 220px;}
.track-text.json-text.hide-text, .track-text.track-text.hide-text { display: none }
.track-text.json-text.show-text, .track-text.track-text.show-text { display: inline }
 
.download-html {float: right; height: 86px; overflow: hidden; position: relative; width: 330px;}
.download-btn, .load-code-btn, .save-project-data-btn, .create-new-btn, .change-url-btn, .change-title-btn, .confirm-load-btn, .popup-btns input { float:left; margin-right:10px; border: 1px solid #282828 !important; padding:5px 10px; color:#CCC;
	   -moz-box-shadow: 0 1px 0 #fff, inset 0 1px 0 #737373;
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 0 #737373;
	     -o-box-shadow: 0 1px 0 #fff, inset 0 1px 0 #737373;
	        box-shadow: 0 1px 0 #fff, inset 0 1px 0 #737373;}
.save-project-data-btn, .create-new-btn { float:left; margin-left:60px; border: 1px solid #282828 !important; padding:5px 10px; color:#CCC; }
/*----- pin -----*/
.pin { background-color: #FFFF99; position: absolute; padding:10px 10px 10px 20px; display:inline;top:100px; left:50%; font-weight:bold;
	   -moz-box-shadow: 0 1px 0 #666, inset 0 1px 0 #ccc;
	-webkit-box-shadow: 0 1px 0 #666, inset 0 1px 0 #ccc;
	     -o-box-shadow: 0 1px 0 #666, inset 0 1px 0 #ccc;
	        box-shadow: 0 1px 0 #666, inset 0 1px 0 #ccc;}
.pin span { display:block; background:url(../images/pin.png) 0 0 no-repeat; width:32px; height:28px; position:absolute; left:-12px; top:-15px;}

/*-------- Tooltip --------*/
.qtip { position: absolute; left:auto !important; top: -28000px; display: none; max-width: 400px;  min-width: 50px; font-size: 11px; line-height: 12px; z-index: 15000;	right:133px !important;	
    -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);}
.collapsed .qtip {display:none !important;}
.ui-tooltip-content { position: relative; padding: 5px 9px; overflow: hidden; border-width: 1px; border-style: solid; text-align: left; word-wrap: break-word; overflow: hidden; border-color: #F1D031; background-color: #FFFFA3; color: #555;}
.ui-tooltip .ui-tooltip-tip { margin: 0 auto; overflow: hidden; background: transparent!important; border: 0 dashed transparent!important; z-index: 10;}
.ui-tooltip .ui-tooltip-tip, .ui-tooltip .ui-tooltip-tip * { position: absolute; line-height: .1px!important; font-size: .1px!important; color: #123456; background: transparent;  border: 0 dashed transparent;}

/*----------- Welcome Popups ----------*/
#properties-panel, .hide-timeline, .pin, #welcome-popup, #help-popup { display:none;}
#welcome-popup, #help-popup { width:700px; min-height:520px; position:absolute; z-index:999999; left:50%; top:50%; margin:-260px 0 0 -350px; background-color:#FFFFCC; text-align:center; overflow:hidden;
	     -moz-box-shadow: 0 0 6px #333;
	  -webkit-box-shadow: 0 0 6px #333;
  	     -o-box-shadow: 0 0 6px #333;
	          box-shadow: 0 0 6px #333;
  border-radius: 10px 10px 10px 10px;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(254,255,217)),
		color-stop(1, rgb(255,255,255))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(254,255,217) 0%,
		rgb(255,255,255) 100%
	);}
#welcome-popup .scroll-popup-container, #help-popup .scroll-popup-container { width:1400px; position:absolute; left:0; top:0;}
#welcome-popup .scroll-popup-container .padding-div, #help-popup .scroll-popup-container .padding-div {padding:40px; width:620px; float:left;}
#welcome-popup h1, #help-popup .help-header h1 { font-size:40px; letter-spacing:-3px; color:#333; padding-top:20px;
	   -moz-text-shadow: 0 -1px 0 #000, 0 1px 0 #fff;
	-webkit-text-shadow: 0 -1px 0 #000, 0 1px 0 #fff;
	     -o-text-shadow: 0 -1px 0 #000, 0 1px 0 #fff;
	        text-shadow: 0 -1px 0 #000, 0 1px 0 #fff;}
#welcome-popup h3.welcome-h3{ font-size:22px; letter-spacing:-1px; margin-top:-8px;}
#welcome-popup h4{ font-size: 18px; padding-top:30px; letter-spacing:-1px;}
#welcome-popup p {}
#welcome-popup p.copyright { width:380px; display:block; margin:0 auto; overflow:hidden;}
#welcome-popup a{}
#welcome-popup a.wizard-create-new-btn, #welcome-popup a.tutorial-btn {border: 1px solid #395c30 !important; padding:0 20px; height:38px; display:block; width:166px; line-height:38px; margin:8px auto; font-size:18px; color:#fff;
	   -moz-box-shadow: 0 1px 0 #fff, inset 0 1px 0 #86bf56;
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 0 #86bf56;
	     -o-box-shadow: 0 1px 0 #fff, inset 0 1px 0 #86bf56;
	        box-shadow: 0 1px 0 #fff, inset 0 1px 0 #86bf56;
	  -moz-text-shadow: 0 1px 0 #333;
	-webkit-text-shadow: 0 1px 0 #333;
	     -o-text-shadow: 0 1px 0 #333;
	        text-shadow: 0 1px 0 #333;
			}
a.mozilla-logo {text-align:center; margin:5px 0 0; display:block} 			
#welcome-popup a.mozilla-logo { margin:30px 0 10px; display:block} 
p.copyright a { padding:0 6px; border-right:1px solid #999; color:#999}
p.copyright a:hover { color:#666}
p.copyright a:last-child { border:0;}
#welcome-popup a.wizard-create-new-btn { margin-bottom:20px;}
#welcome-popup .left-div { float:left; width:350px; padding:20px 0}
#welcome-popup .left-div p.desc { display:block; font-weight:bold; padding-bottom:20px; text-align:left; font-size:16px;}
#welcome-popup .left-div ul { overflow:visible; text-align:left;}	
#welcome-popup .left-div li { margin-bottom: 20px; min-height: 55px; padding:5px 0 0 65px; position: relative; font-size:17px;}
#welcome-popup .left-div li span {background-color: #333; display: block; font-size: 30px; height: 50px; left: 0; line-height: 50px; position: absolute; text-align: center; top: 0; width: 50px; border:1px solid #000; color:#fff;
		   -moz-border-radius: 30px;
		-webkit-border-radius: 30px;
			 -o-border-radius: 30px;
				border-radius: 30px;}
#welcome-popup .left-div li .save-btn, #welcome-popup .left-div li .add-btn { display:inline-block; float:none; margin:-10px 10px 0 10px;}
#welcome-popup .left-div li .save-btn { margin-top:-8px;}
#welcome-popup .left-div li a { color:#80BA4E; font-style:italic}	
#welcome-popup .left-div li a:hover { color:#4A6B2D;}
#welcome-popup .left-div li img { float:right; margin:-1px -10px 0 0;}
#welcome-popup .left-div li p { float:left;}
#welcome-popup .left-div li:last-child { margin:0;}

.popup-5 #new-projet-form { text-align:left; height:99%; display:block;  padding:20px; min-height:300px; position:relative;}
.popup-5 h4 { font-size:18px; padding-bottom:10px;
	   -moz-text-shadow: 0 1px 0 #fff;
	-webkit-text-shadow: 0 1px 0 #fff;
	     -o-text-shadow: 0 1px 0 #fff;
	        text-shadow: 0 1px 0 #fff;}
.popup-5 p { position:relative; overflow:hidden; padding-bottom:10px;}
.popup-5 p label { position:absolute; z-index:999; left:10px; top:7px;}
.popup-5 .new-project-box { position: relative; border-bottom:1px solid #ddd; padding:20px 0 10px;}
.popup-5 { width:600px;}
.popup-5 p { width:auto !important;}
.popup-5 .box1 { height:50px;}
.popup-5 .box1 p input { width:454px;}
.popup-5 .box2 { width:220px; float:left; height:86px;}
.popup-5 .box2 p input { width:200px;}
.popup-5 .box3 { width:200px; float:right; padding:20px 0 10px; height:86px;}
.popup-5 .template-dropdown {}
.popup-5 .new-project-submit { bottom:20px; right:20px; top:auto; margin:0;}

#help-popup .scroll-popup-container { top:110px;}
#help-popup .padding-div { padding-top:0 !important;}
#help-popup .help-header { height:60px; border-bottom:1px solid #ddd; margin: 10px 40px 10px;}
#help-popup .help-header h1 { float:left; padding:0}
#help-popup .help-header .social { float:right;}
#help-popup .inner { text-align:left}
#help-popup .inner h2 { font-size:20px;}
#help-popup .inner p { padding:5px 0;}
#help-popup .inner p.copyright {text-align:center;}
#help-popup .inner .help-section { padding:14px 0 0}
#help-popup .inner section { padding:0 0 20px}
#help-popup .inner section ul { overflow: hidden}
#help-popup .inner section h2 { border-bottom: 1px solid #DDDDDD; font-size: 18px; margin-bottom: 4px; padding-bottom: 4px;}
#help-popup .inner section li { float:left; width:185px; margin-right:20px;}
#help-popup .inner section li a { font-size:13px; color:#666; font-weight:bold;}
#help-popup .inner section li.download-sdk a span { display:block; font-size:11px; font-weight:normal}
#help-popup .inner section li:last-child { margin:0;}
#help-popup .partners h2 { border-bottom:0 !important;}
#help-popup .inner section.partners li { width:auto;}
#help-popup .faq { clear:both; margin:80px 0 0; position:relative;}
#help-popup .faq .faqs { width:400px; margin: 0 auto; height:auto; overflow:hidden}
#help-popup .faq .faqs li { float:left; width:400px; height:180px; overflow:auto;}
#help-popup .faq .pagination { display:none}
#help-popup .faq a.prev, #help-popup .faq a.next { position:absolute; z-index:999; width:40px; height:40px; top:50%; margin-top:-20px; background:url(../images/prev-next.png) 0 0 no-repeat #333;}
#help-popup .faq a.prev { left:35px; background-position: 0 0 }
#help-popup .faq a.next { right:35px; background-position: -40px 0}
#help-popup .faq a.prev:hover { background-position: 0 -40px }
#help-popup .faq a.next:hover { background-position: -40px -40px}
#help-popup .faq a.prev:active, #help-popup .faq a.prev:focus { background-position: 0 -80px }
#help-popup .faq a.next:active, #help-popup .faq a.next:focus { background-position: -40px -80px}


#help-popup .social li { float:left; margin-left:10px;}
.social li.mozilla-labs a { display:block; width:81px; height:17px; overflow:hidden; background:url(../images/mozilla-labs.png) 0 0 no-repeat; margin-top:3px}
.social li.mozilla-labs a:hover { background-position: 0 -23px;}
.social li.twitter a, .social li.facebook a { display:block; width:26px; height:26px;}
.social li.twitter a:hover, .social li.facebook a:hover { background-color:#999;}
.social li.twitter a, .social li.facebook a { background:url(../images/twiter-facebook.png) 9px 6px no-repeat #ccc;}
.social li.facebook a { background-position: -27px 6px}	
.social li.twitter a:hover { background-position:9px -16px}
.social li.facebook a:hover { background-position: -27px -16px}

.mozilla-labs a, .facebook a, .twitter a, .prev, .next {
  text-indent: -9999px;
}

.checkout p { float:left; padding:0 0 0 70px}
.checkout .help-btn { float:right; margin: -1px 26px 0 0;}

/*----common----*/
.header-buttons li.help-btn a, .playback-controls .play-btn a span, .playback-controls .sound-btn a span, ul.actions li a { display:block; overflow:hidden; text-indent:-9999px;}
.playback-controls .play-btn, .playback-controls .timeline-duration, .playback-controls .sound-btn  { background:url(../images/texture_1.png) repeat; font-size:11px; line-height:20px; text-align:center; color:#999;}
.header-buttons li, .popup-close-btn, .help-close-btn, .dd .ddTitle span.arrow {
	   -moz-box-shadow: 0 1px 0 #3d3d3d, inset 0 1px 0 #686868;
	-webkit-box-shadow: 0 1px 0 #3d3d3d, inset 0 1px 0 #686868;
	     -o-box-shadow: 0 1px 0 #3d3d3d, inset 0 1px 0 #686868;
	        box-shadow: 0 1px 0 #3d3d3d, inset 0 1px 0 #686868;}
.header-buttons li, .popup-close-btn, .help-close-btn, .download-btn, .load-code-btn, .save-project-data-btn, .create-new-btn, .change-url-btn, .change-title-btn, .confirm-load-btn, .popup-btns input {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(56,56,56)),
		color-stop(1, rgb(97,97,97))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(56,56,56) 0%,
		rgb(97,97,97) 100%
	);}
.header-buttons li:hover, .download-btn:hover, .load-code-btn:hover, .save-project-data-btn:hover, .create-new-btn:hover, .change-url-btn:hover, .change-title-btn:hover, .confirm-load-btn:hover, .popup-btns input:hover {
	color: #fff;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(64,64,64)),
		color-stop(1, rgb(112,112,112))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(64,64,64) 0%,
		rgb(112,112,112) 100%
	);}
.header-buttons li:active, .header-buttons li:focus, .download-btn:active, .download-btn:focus, .load-code-btn:active, .load-code-btn:focus, .save-project-data-btn:active, .save-project-data-btn:focus, .create-new-btn:active, .create-new-btn:focus, .change-url-btn:active, .change-url-btn:focus, .change-title-btn:active,  .change-title-btn:focus, .confirm-load-btn:focus, .confirm-load-btn:active, .popup-btns input:focus, .popup-btns input:active {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(97,97,97)),
		color-stop(0, rgb(56,56,56))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(97,97,97) 100%,
		rgb(56,56,56) 0%
	);}
.popup-header, #properties-panel .properties-header {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(44,44,44)),
		color-stop(1, rgb(76,76,76))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(44,44,44) 0%,
		rgb(76,76,76) 100%
	);}
#properties-panel .properties-header, .popup-header, .hide-timeline {
	   -moz-box-shadow: inset 0 1px 0 #5d5d5d;
	-webkit-box-shadow: inset 0 1px 0 #5d5d5d;
	     -o-box-shadow: inset 0 1px 0 #5d5d5d;
	        box-shadow: inset 0 1px 0 #5d5d5d;}
.timeline-heading, .enable-scroll, .track-event {
	   -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	     -o-border-radius: 5px;
	        border-radius: 5px;}
.playback-controls .play-btn a, .playback-controls .sound-btn a, .playback-controls .timeline-bar, .enable-scroll .track, .enable-scroll .thumb, .timeline-progress-bar, .timeline-progress-bar .current-white, .playback-controls .play-btn, .playback-controls .timeline-duration, .playback-controls .sound-btn {
	   -moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	     -o-border-radius: 20px;
	        border-radius: 20px;}
.playback-controls .play-btn a:active, .playback-controls .play-btn a:focus, .playback-controls .play-btn a span, .playback-controls .sound-btn a span, .playback-controls .sound-btn a:active, .playback-controls .sound-btn a:focus {
		   -moz-box-shadow: none;
		-webkit-box-shadow: none;
			 -o-box-shadow: none;
				box-shadow: none;}
.playback-controls .play-btn a span, .playback-controls .sound-btn a span, ul.actions li.bubble_pointer {			
		   -moz-border-radius: 0;
		-webkit-border-radius: 0;
			 -o-border-radius: 0;
				border-radius: 0;}
.enable-scroll.toolbox, .layer, .layer-btn, .download-btn, .load-code-btn, .save-project-data-btn, .create-new-btn, .change-url-btn, .change-title-btn, .confirm-load-btn, .popup-btns input {
		   -moz-border-radius: 6px;
		-webkit-border-radius: 6px;
			 -o-border-radius: 6px;
				border-radius: 6px;}
.layer, .playback-controls .play-btn, .playback-controls .timeline-duration, .playback-controls .sound-btn {
	   -moz-box-shadow: 0 1px 0 #737373, inset 0 1px 0 #131313;
	-webkit-box-shadow: 0 1px 0 #737373, inset 0 1px 0 #131313;
	     -o-box-shadow: 0 1px 0 #737373, inset 0 1px 0 #131313;
	        box-shadow: 0 1px 0 #737373, inset 0 1px 0 #131313;}
ul.actions, .ttip, .ui-tooltip-content {
		   -moz-border-radius: 4px;
		-webkit-border-radius: 4px;
			 -o-border-radius: 4px;
				border-radius: 4px;}
.collapse-btn span, ul.actions li.bubble_pointer {
	   -moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	       -transform: rotate(45deg);}
.pop-up .popup-content p input, .popup-content .track-content, .popup-content .project-json, .popup-1, .popup-2, .popup-4 {
	   -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	     -o-border-radius: 10px;
	        border-radius: 10px;}
.pop-up .popup-content p input, .popup-content .track-content, .popup-content .project-json {
	   -moz-box-shadow: 0 1px 0 #fff, inset 0 2px 3px #eee;
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 2px 3px #eee;
	     -o-box-shadow: 0 1px 0 #fff, inset 0 2px 3px #eee;
	        box-shadow: 0 1px 0 #fff, inset 0 2px 3px #eee;}
	        
.pop-up .popup-content form p input, .popup-content .track-content, .popup-1, .popup-2, .popup-4, #welcome-popup a.wizard-create-new-btn, #welcome-popup a.tutorial-btn,  #new-projet-form {
	   -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	     -o-border-radius: 10px;
	        border-radius: 10px;}
.pop-up .popup-content form p input, .popup-content .track-content, #new-projet-form {
	   -moz-box-shadow: 0 1px 0 #fff, inset 0 2px 3px #eee;
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 2px 3px #eee;
	     -o-box-shadow: 0 1px 0 #fff, inset 0 2px 3px #eee;
	        box-shadow: 0 1px 0 #fff, inset 0 2px 3px #eee;}
.add-btn, .header-buttons li.add-btn, #welcome-popup a.wizard-create-new-btn, #welcome-popup a.tutorial-btn {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(74,107,45)),
		color-stop(1, rgb(128,186,78))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(74,107,45) 0%,
		rgb(128,186,78) 100%
	);}

.add-btn:hover, .header-buttons li.add-btn:hover, #welcome-popup a.wizard-create-new-btn:hover, #welcome-popup a.tutorial-btn:hover {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(85,126,52)),
		color-stop(1, rgb(148,219,90))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(85,126,52) 0%,
		rgb(148,219,90) 100%
	);}
.add-btn:active, .add-btn:focus, .header-buttons li.add-btn:focus, .header-buttons li.add-btn:active, #welcome-popup a.wizard-create-new-btn:active,#welcome-popup a.wizard-create-new-btn:focus, #welcome-popup a.tutorial-btn:active,#welcome-popup a.tutorial-btn:focus {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(128,186,78)),
		color-stop(1, rgb(74,107,45))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(128,186,78) 0%,
		rgb(74,107,45) 100%
	);
}

.playback-controls .sound-btn { position: absolute; right: 0;}
.playback-controls .sound-btn, .playback-controls .timeline-duration { top:14px; }
.play-btn { top: 9px}
.popup-btns { clear:both; padding:10px;}
p.desc { width:350px !important;}
