html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
background-color: black;
}

.toptext {
	color: white;
	font-size: 20px;
	font-family: verdana;
	padding: 5px;
}

#topbar {
	position: absolute;
	top: 0;
	left: 0;
	height: 75px;
	width: 100%;
	background-color: black;
}

#tour_area {
	position: absolute;
	top: 75px;
	left: 0;
	bottom: 100px;
	height: 70%;
	width: 100%;
	background-color: grey;
	z-index: 50
}

#video-area {
  position: absolute;
  top: 75;
  left: 0;
	bottom: 100px;
	height: 70%;
	width: 100%;
	background: transparent;
	z-index: 100
}

#timeline_area {
	position: absolute;
	bottom: 50px;
	height: 100px;
	left: 0px;
	width: 100%;
}

#additional {
	position: absolute;
	top: 100px;
	right: 150px;
	height: 75%;
	width: 175px;
	z-index: 1000;
}
.rightsized {
width: 128px;
height: 96px;
}

#footernav {
	color: white;
	font-family: verdana;
	position: absolute;
	bottom: 10px;
	margin: 0 auto;
}
.factory {
height:50px; position: absolute; right: 10px; padding-top: 10px;}

background-color: black;
}

#dana {
	background-color: black;
	border: 4px solid;
	border-bottom-color:#555;
    border-right-color:#333;
    border-top-color:#ddd;
    border-left-color:#bbb;
	margin: 1em;
	position: absolute;
	bottom: 50px;
	left: 100px;
	width: 320px;
	height: 180px;
	z-index: 2000;
}

#secondary {
	background-color: black;
	border: 4px solid;
	border-bottom-color:#555;
    border-right-color:#333;
    border-top-color:#ddd;
    border-left-color:#bbb;
	margin: 1em;
	position: absolute;
	bottom: 50px;
	left: 440px;
	width: 320px;
	height: 180px;
	z-index: 2000;

}

#tertiary {
	margin: 1em;
	position: absolute;
	bottom: 50px;
	left: 780px;
	width: 480px;
	height: 270px;
	z-index: 2000;

}

#webpage {
	width: 100%;
	height: 90%;
}

.subtitles {
	position: absolute; 
	left: 120px; 
	bottom: 20px; 
	border: 1px grey solid; 
	padding: 6px; 
	min-height: 25px;
	min-width: 650px;
	color: white;
	background-color: black; 
	font-size: 18px;
	font-family: arial; 
}
#accessibility {
	position: absolute; 
	right: 125px; 
	top: 20px; 
	border: 1px grey solid; 
	padding: 6px; 
	color: white;
	background-color: black; 
	font-size: 24px;
	font-family: arial; 
}
#language {
	position: absolute; 
	right: 10px; 
	top: 20px; 
	border: 1px grey solid; 
	padding: 6px; 
	color: white;
	background-color: black; 
	font-size: 14px;
	font-family: arial; 
}
.hover:hover:
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    border-color: red;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
 }
.showoff:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    border-color: red;
    z-index: 50;
  }
.showoff img:hover {
  z-index: 50;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.showbox {
}
.showbox {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  text-align: center;
}
.showbox img:hover {
  cursor: pointer;
}
.showbox img {
  position: relative;
  height: 150px;
  top: 0px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}
#lightbox {
  width: 100%;
  height: 100%;
  background: rgba(32,32,32,0.7);
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999999;
  display: none;
}
#lightbox img {
  position: relative;
  top: 20px;
}
#lightbox img:hover {
  cursor: pointer;
}
#additional-image-container {
  width: 310px;
  z-index: 150px;
}
.float-left {
  float: left;
}

