<html>
<head>
<script src="../lib/popcorn-complete.js"></script>
<script src="../lib/butter.js"></script>
<script>
  document.addEventListener( "DOMContentLoaded", function() {
    var popcorn = Popcorn( document.getElementById('outerVideo') );
    var b = new Butter();
    b.comm();
    var commClient = new b.CommClient( "previewerClient" );
    commClient.listen( "ping", function( message ) {
      commClient.send( Popcorn.instances.indexOf( popcorn ), "pong" );
    });
    commClient.listen( "trackeventadded", function ( message ) {
      var butterId = message.id;
      popcorn[ message.type ]( Popcorn.extend( {}, message.popcornOptions ) ); 
      var popcornEventId = popcorn.getLastTrackEventId();
      commClient.send( { butterId: message.id, popcornId: popcorn.getLastTrackEventId() }, "trackeventadded" );

      commClient.listen( "trackeventupdated", function ( message ) {
        if ( message.id === butterId ) {
          popcorn.removeTrackEvent( popcornEventId );
          popcorn[ message.type ]( Popcorn.extend( {}, message.popcornOptions ) );
          popcornEventId = popcorn.getLastTrackEventId();
        }
      });
      commClient.listen( "trackeventremoved", function ( message ) {
        if ( message.id === butterId ) {
          popcorn.removeTrackEvent( popcornEventId );
        }
      });
    });
    
  }, false );
</script>
</head>
<body>
  <div id="div1">
    <video data-butter="media" id="outerVideo" width="300" height="200" controls>
      <source src="../../popcorn-js/test/trailer.ogv"/>
    </video>
    <div data-butter="target" id="div2" style="position:relative;float:left;width:400px;"></div>
  </div>
</body>
</html>
